@import "variables";
@import "mixins";

.header {
    text-align: center;
}

.blog-post {
    .mybox {
        height: 20%;
        border: 5px solid $text-color;
        @include box-shadow(0px, 0px, 14px, $text-color);
        @include border-radius(20%);
    }
    h1 {
        text-align: center;
        color: $secondary-color;
    }
    p {
        font-size: $my-font-size;
        color: $secondary-color;
        span {
            font-weight: $bold-font-weight;
        }
    }
}
